.container-fluid.bg-image
  .row.no-gutter
    .d-none.d-md-flex.col-md-4.col-lg-6
      .login.d-flex.align-items-center.py-5
        .container
          = link_to 'Take New Survey', new_question_path, :class => "btn btn-primary btn-lg",:id => "center"